<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="row blue-grey lighten-2">
    <%- include('../partials/sidenav') %>
    <div class="col s10 blue lighten-4" style="height:100vh">
      <h5 class="blue-text text-darken-2">My Recipes</h1>
      <br>
      <a class="btn-floating btn-large waves-effect waves-light red" href="/recipes/new"><i class="material-icons">add</i></a>
      <!-- user/%= user.id %>/ -->
      <br><br><br>
      <%- recipes.map(r =>
      `<div class="row">
        <div class="col s12 m3">
          <div class="card">
            <div class="card-image">
              <img src="${r.coverPicture}">
              <span class="card-title">${r.title}</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red" href="/recipes/${r.id}"><i class="material-icons">pageview</i></a>
            </div>
            <div class="card-content">
              <p>${r.desc}</p>
            </div>
          </div>
          <br><br><br>
        </div>
      </div>`
      ).join('')%>          
      
    </div>
</div>



<%- include('../partials/footer') %>
