<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="row blue-grey lighten-2">
    <div class="col s12 blue lighten-4" >
        <div class="row">
            <h5 class="blue-text text-darken-2">Edit Recipe</h5>
            <form action="/recipes/<%= recipe.id %>?_method=PUT" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= recipe.title %>" name="title" id="title" type="text" class="validate">  
                        <label for="title" >Title: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= recipe.desc %>" name="desc" id="desc" type="text" class="validate">  
                        <label for="desc">Description: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= recipe.pictures %>" name="pictures" id="pictures" type="text" class="validate">  
                        <label for="pictures">Pictures: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= recipe.meals %>" name="meals" placeholder="E.g. Dinner, Soup, Drink" id="meals" type="text" class="validate">  
                        <label for="meals">Meals: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <textarea name="ingredients" id="ingredients" class="materialize-textarea" data-length="500"><%= recipe.ingredients %></textarea>
                        <label for="ingredients">Ingredients: </label>
                        <!-- &nbsp<input name="ingredients" id="ingredients" type="text" class="validate">   -->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <textarea name="directions" id="directions" class="materialize-textarea" data-length="500"><%= recipe.directions %></textarea>
                        <!-- <input name="directions" id="directions" type="text" class="validate">   -->
                        <label for="directions">directions: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= !recipe.servings ? 0 : recipe.servings %>" name="servings" id="servings" type="text" class="validate">
                        <label for="servings">Servings: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= !recipe.prepTime ? 0 : recipe.prepTime %>" name="prepTime" id="prepTime" type="text" class="validate">  
                        <label for="prepTime">Prep Time: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input value="<%= !recipe.cookTime ? 0 : recipe.cookTime %>" name="cookTime" id="cookTime" type="text" class="validate">  
                        <label for="cookTime">Cook Time: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">  
                        <label>
                            <input name="private" type="checkbox" class="filled-in" <%= recipe.private ? 'checked' : ''%>/>
                            <span>Private recipe</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">  
                        <p></p>
                        <a href="/recipes/<%= recipe.id %>">Cancel</a>&nbsp&nbsp&nbsp&nbsp
                        <input type="submit" value="Update Recipe">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
