<%- include('../partials/header') %>
<%- include('../partials/navbar') %>

<div class="row blue-grey lighten-2">
    <%- include('../partials/sidenav') %>
    <div class="col s10 blue lighten-4" >
            
        <div class="row">   
            <form action="/user/<%= user.id %>/recipes" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input name="title" id="title" type="text" class="validate">  
                        <label for="title" >Title: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="desc" id="desc" type="text" class="validate">  
                        <label for="desc">Description: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="pictures" id="pictures" type="text" class="validate">  
                        <label for="pictures">Pictures: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="meals" placeholder="E.g. Dinner, Soup, Drink" id="meals" type="text" class="validate">  
                        <label for="meals">Meals: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <textarea name="ingredients" id="ingredients" class="materialize-textarea" data-length="500"></textarea>
                        <label for="ingredients">Ingredients: </label>
                        <!-- &nbsp<input name="ingredients" id="ingredients" type="text" class="validate">   -->
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <textarea name="directions" id="directions" class="materialize-textarea" data-length="500"></textarea>
                        <!-- <input name="directions" id="directions" type="text" class="validate">   -->
                        <label for="directions">directions: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="servings" id="servings" type="text" class="validate">  
                        <label for="servings">Servings: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="prepTime" id="prepTime" type="text" class="validate">  
                        <label for="prepTime">Prep Time: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input name="cookTime" id="cookTime" type="text" class="validate">  
                        <label for="cookTime">Cook Time: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">  
                        <label>
                            <input type="checkbox" class="filled-in" />
                            <span>Private recipe</span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">  
                        <p></p>
                        <a href="../../../user/recipes">Cancel</a>&nbsp&nbsp&nbsp&nbsp
                        <input type="submit" value="Add Recipe">
                    </div>
                </div>
            </form>

        </div>
            
    </div>
</div>

<%- include('../partials/footer') %>
